* {
  position: relative;
  padding: 0;
  margin: 0;
}


body
{
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#navbar:not(.open)
{
  position: fixed;

  top: 2%;
  left: 70%;

  opacity: 0.4;

  transition: .3s;
}
#navbar:not(.open) .nav-item { display: none; }
#navbar:not(.open):hover
{
  opacity: 1;
}


/* IF THE NAV IS OPEN */
#navbar.open *
{
  transition: .3s;
}
#navbar.open
{
  transition: .3s;

  position: fixed;

  top: 0;
  left: 0;

  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(2em, .2fr));
  gap: .5em;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  justify-items: start;

  width: 6em;
  height: 100vh;
  
  border-radius: 0px;
  background-color: #303030;
  padding: .7em;
}
#navbar .nav-item
{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;

  padding: 1em;
  text-decoration: none;

  /* FROM  https://neumorphism.io/*/
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 10px #5a5a5a,
              inset -6px -6px 10px #ffffff;
  
  max-width: 4em;
  width: 4em;
  overflow: hidden;

  transition: 1s;
  color: #303030;
}
#navbar .nav-item:hover
{
  max-width: 15em;
  width: 15em;
}
.nav-item i
{
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 2em;
  text-align: center;

  min-width: 2em;
  width: 2em;
  height: 2em;
  
  border-radius: 50%;

  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  13px 13px 26px #5a5a5a,
              -13px -13px 26px #ffffff;
}
.nav-item .text
{
  font-size: 1.5em;
}


#nav-toggler
{
  transition: .3s;
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 3em;
  text-align: center;

  width: 2em;
  height: 1.3em;


  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 10px #5a5a5a,
              inset -6px -6px 10px #ffffff,
              0px 0px 0px #fff0,
              0px 0px 0px #fff0;
              
              cursor: pointer;
}
#nav-toggler:hover
{
  box-shadow: inset 0px 0px 0px #fff0,
              inset 0px 0px 0px #fff0,
              5px 5px 10px #8f8f8f,
             -5px -5px 10px #ffffff70;
}